<!DOCTYPE html>
<html>
<head>
    <title>Phishing Detector</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="phish">
        <div class="container-phish">
            <form class="phish-form validate-form" method="POST">
                <span class="phish-form-title">
                Phishing Email Detector
                </span>
                <div class="wrap-input1">
                    <span>
                    {{ sub_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    {{ sub_threat_words }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <span>
                    {{ bod_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <span>
                    {{ bod_threat_words }}
                    </span>
                </div>
            </form> 
        </div>
    </div>

</body>

</html>