<!DOCTYPE html>
<html>
<head>
    <title>Phishing Detector</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="phish">
        <div class="container-phish">
            <p class="phish-title">
                <b>Phishing Email Detector</b>
            </p>
            <div class="phish-pic">
                <img src="{{ url_for('static', filename='images/PhishHook.png') }}" alt="IMG">
            </div>
            <form class="phish-form" method="POST">
                <div class="wrap-input1 validate-input" data-validate="Subject is required">
                    <input class="input1" type="text" name="subject" placeholder="Subject">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Body is required">
                    <textarea class="input1" name="body" placeholder="Body"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-btn">
                    <button class="btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>

            </form> 
        </div>
    </div>
    <div style="text-align:center">
    <b>DISCLAIMER: WE ARE NOT PROFFESSIONALS. TAKE OUR ADVICE WITH A GRAIN OF SALT. </b>
    </div>
</body>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

</html>