<!DOCTYPE html>
<html>
<head>
    <title>Phish Hook</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="phish">
        <div class="container-phish">
            <p class="phish-title">
                <b>Phish Hook</b>
            </p>
            <form class="phish-form" method="POST">
                <p>
                    <span>
                    {{ sub_rating }}
                    </span>
                </p>
                <div class="wrap-input1">
                    <span>
                    {{ sub_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <i>
                    {{ sub_threat_words }}
                    </i>
                </div>
                <p>
                    <span>
                    {{ bod_rating }}
                    </span>
                </p>
                <div class="wrap-input1">
                    <span>
                    {{ bod_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <i>
                    {{ bod_threat_words }}
                    </i>
                </div>
            </form> 
            <p1 style="text-align:left; padding-top:30px">
                Resources: <a href="https://www.webroot.com/us/en/resources/tips-articles/what-is-phishing">WEBROOT Tips</a>,
                           <a href="https://www.sans.org/security-awareness-training/resources/stop-phish">SANS Tips</a>,
                           <a href="http://mentalfloss.com/article/503105/7-steps-take-now-if-youre-victim-phishing-scheme">What to do if you fell for a phishing scam</a>
            </p1>
        </div>
    </div>
    <div style="text-align:center">
        <b>DISCLAIMER: WE ARE NOT PROFFESSIONALS. TAKE OUR ADVICE WITH A GRAIN OF SALT. </b>
    </div>
</body>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

</html>