<!DOCTYPE html>
<html>
<head>
    <title>Phish Hook</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="phish">
        <div class="container-phish">
            <p class="phish-title">
                <b>Phish Hook</b>
            </p>
            <form class="phish-form" method="POST">
                <p>
                    <span>
                    {{ sub_rating }}
                    </span>
                </p>
                <div class="wrap-input1">
                    <span>
                    {{ sub_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <i>
                    {{ sub_threat_words }}
                    </i>
                </div>
                <p>
                    <span>
                    {{ bod_rating }}
                    </span>
                </p>
                <div class="wrap-input1">
                    <span>
                    {{ bod_return }}
                    </span>
                </div>
                <div class="wrap-input1">
                    <i>
                    {{ bod_threat_words }}
                    </i>
                </div>
            </form> 
        </div>
    </div>

</body>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

</html>