.idea
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/Phishing-Email-Project-2019.iml
.idea/misc.xml
.idea/modules.xml
.idea/Phishing-Email-Project-2019.iml
.idea/vcs.xml
.idea/workspace.xml
Source/python/.idea/misc.xml
Source/python/.idea/Phishing-Email-Project-2019.iml
